.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 51; // swiper-bundle z-index: 50;
    opacity: 0;
    transition: .3s;

    &.active {
        opacity: 1;
        transition: .3s;
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $black;
        opacity: .5;
    }

    &__content {
        padding: 30px;
        background-color: $white;
        border-radius: 20px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 52;
    }

    &__btn-close {
        position: absolute;
        top: 26px;
        right: 26px;
        width: 12px;
        height: 12px;
        background: none;
        border: none;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 150%;
            height: 2px;
            background-color: $grey;
            border-radius: 10px;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    &__text {
        font-weight: 600;
        font-size: 26px;
        line-height: 110%;
        color: $lightDark;
        padding-right: 30px;
        margin-bottom: 30px;
    }

    &__btns {
        display: flex;
    }

    &__btn {
        background: $lightGrey;
        border-radius: 10px;
        border: none;
        height: 52px;
        @include center;
        margin-right: 20px;
        flex-grow: 1;
        border: 2px solid transparent;

        font-weight: 600;
        font-size: 16px;
        line-height: 110%;
        color: $primary;
        transition: .3s;

        &:last-of-type {
            margin: 0;
        }

        &:hover,
        &:focus {
            color: $primary;
            background: $white;
            border-color: $lightGrey;
            transition: .3s;
        }

        &--del {
            background: $primary;
            color: $white;
            transition: .3s;
        }

        &:active {
            transform: scale(.98);
            opacity: .5;
            transition: .3s;
        }
    }
}

@media (max-width: 768px) {
    .popup {
        &__content {
            top: auto;
            left: 0;
            right: 0;
            bottom: -100%;
            transform: translate(0, 0);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            transition: .3s;
        }

        &.active {
            .popup__content {
                bottom: 0;
                transition: .3s;
            }
        }
    }
}
